:root {
  --main-color: #2196f3;
  --secondary-color: #212121;
  --third-color: #757575;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
}

button {
  border: none;
}

.link {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

.logo-blue {
  color: var(--main-font);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contacts {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.header-nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.current,
.header-nav:hover,
.header-nav:focus {
  color: var(--main-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--main-color);
}

.city-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}

.fotter-contacts {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}

.main-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.order-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}

.quality {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.quality-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.section-description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-position {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.case-examples {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.case-examples:hover,
.case-examples:focus {
  background: var(--main-color);
  color: #ffffff;
}

.case-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.case-category {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
